
.headings {
    background-color: #FFF2DF; 
    font-size: 90%; 
    font-weight: bold; 
    color: #2F1D03; 
}

.subHeadings {
    background-color: #FFF8EF; 
    font-size: 90%; 
    color: #2F1D03;
}