#pblHeading {
    font-size: 130%;
    color: #306FDF;
    font-weight: bold;
    font-style: italic;
    padding: 0px;
    margin: 0px;
    margin-left: 6px;
}

#pblHeaders {
    padding: 4px;    
}
.pblElem {
    color: #2F1D03;
    margin-left: 5px;
}
div .pblSingleElem {
    color: #2F1D03;
}
#themeSessionsContainer, 
#lecturesContainer,
#learningTopicsContainer,
#learningObjectivesContainer {
   display: none;
}
.pblElemHeading {
    font-size: 120%;
    font-weight: bold;
}
.pblElemSubHeading {
	font-size: 90%;
    font-weight: bold;
}
.pblElemList span{
    margin-left:10px;
    margin-right:5px;
    color: #2F1D03;
    font-weight: bold;
    background-color:#DFCEB5;
    padding:0px 5px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}
.pblElem li {
    color: #306FDF;
}

.pblElem li.red {
    color: #FF0600;
}
.pblElem li span {
    color: #2F1D03;
    font-weight: normal;
}

.pblElem li span a:link, .pblElem li span a:visited, .pblElem li span a:active {
    color: #2F1D03;
}
.pblElem li span a:hover {
    color:#7F6B4F;
    text-decoration: none;
}
#pblContainerLeft {
    width: 170px;
    height: 400px;
    vertical-align:top;
}
#pblContainerRight {
	padding-left: 10px;
    vertical-align:top;
    height: 100%;
}
.pblBar {
	width:15px;
    vertical-align:top;
}
.pblBarLeft {
	padding-right:2px;
	text-align:left;
}
.pblBarRight {
    padding-left:2px;
    text-align:right;
}
#pblMenu ul {
    list-style-type: none;
    text-align:left;
    padding:0px;
    margin:0px;
}
#pblMenu > ul > li {
    line-height: 170%;
    padding:0px;
    margin-left:10px;    
}
#pblMenu > ul > li a, #stagelinks a, #navlinks a {
    text-decoration: none;
    padding:2px 7px 2px 7px;
    white-space: nowrap;
}
#pblMenu > ul > li a.clicked, #stagelinks a.active, #navlinks a:hover {
    white-space: no-wrap;
    background-color: #EFF5FF;
    border:1px solid #99defd;
    padding:2px 6px 2px 6px;
    text-decoration :none;
}
#stagelinks {
	margin-left:6px;
}
#pblMenu > ul > li a.staff-only {
    color: #D63E29;
}
#pblMenu > ul > li a.clicked.staff-only {
    background-color: #FFF1DF;
    border:1px solid #FFB83E;
}
div#pblSubMenu {
    margin-left:20px;
}

.pblResourcesHeading {
	color: #2F1D03;
    font-size: 110%;
    font-weight: bold;
}
#exception {
    display:none;
    list-style-type:none;
    color:#2F1D03;
}
#showHideError {
    cursor: pointer;
}

.textWidth  {
    width : 200px;
}
.titleWidth {
    width : 400px;
}
#navlinks {
	padding-top: 30px;
}






